<header>
<span>Quiz</span>


    <% if user_signed_in? %>
      <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <li><%= link_to '問題登録', new_question_path %></li>
      <li><%= link_to '問題一覧', questions_path %></li>
      <li><%= link_to ' logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to ' Home' %></li>
      <%# <li><%= link_to 'マイページ', users_path %>
      <li><%= link_to ' sign up', new_user_registration_path %></li>
      <li><%= link_to ' login', new_user_session_path%></li>
    <% end %>